html,
body,
#mapid {
  width: 95%;
  height: 100%;
  padding: 0;
  margin: 30px;
}
html,
body,
#mapid2 {
  width: 95%;
  height: 100%;
  padding: 0;
  margin: 30px;
}
.legend {
  padding: 10px;
  line-height: 18px;
  color: #555;
  background-color: #fff;
  border-radius: 5px;
}

.legend i {
  float: left;
  width: 18px;
  height: 18px;
  margin-right: 8px;
  opacity: 0.7;
}
.jumbotron {
  background-image: url("shutterstock_1512536354.jpg");
  background-size: 100% 157%;
  text-align: right;
}