html,
body,
#mapid {
  width: 95%;
  height: 100%;
  padding: 0;
  margin: 30px;
}
.jumbotron {
  background-image: url("shutterstock_1512536354.jpg");
  background-size: 100% 157%;
  text-align: right;
}